# dbt build artifacts
jaffle_shop/target
jaffle_shop/dbt_modules
jaffle_shop/dbt_packages
jaffle_shop/logs

# Python cache
__pycache__/

# macOS junk
.DS_Store

# Local secrets
.env
*.env

# vs code
.vscode


